/* Simple Help Field themes. */

/* Blue Theme */
.simple-help-field-blue {
  border: #529ccb solid 1px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-left: #529ccb solid 5px;
  padding: 10px;
  background-color: #e6e9fe;
  color: #6f9dbd;
}

.simple-help-field-blue .simple-help-field-title {
  color: #529ccb;
}

.simple-help-field-blue .coll-opened {
  border-top-color: #529ccb;
}

.simple-help-field-blue .coll-closed {
  border-left-color: #529ccb;
}

/* Yellow Theme */
.simple-help-field-yellow {
  border: #ffcf73 solid 1px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-left: #ffcf73 solid 5px;
  padding: 10px;
  background-color: #ffffdd;
  color: #840;
}

.simple-help-field-yellow .simple-help-field-title {
  color: #840;
}

.simple-help-field-yellow .coll-opened {
  border-top-color: #840;
}

.simple-help-field-yellow .coll-closed {
  border-left-color: #840;
}

/* Green Theme */
.simple-help-field-green {
  border: #4c9067 solid 1px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-left: #4c9067 solid 5px;
  padding: 10px;
  background-color: #e0f0d3;
  color: #4c9067;
}

.simple-help-field-green .simple-help-field-title {
  color: #4c9067;
}

.simple-help-field-green .coll-opened {
  border-top-color: #4c9067;
}

.simple-help-field-green .coll-closed {
  border-left-color: #4c9067;
}

/* Red Theme */
.simple-help-field-red {
  border: #da0e00 solid 1px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-left: #da0e00 solid 5px;
  padding: 10px;
  background-color: #ffcccc;
  color: #da0e00;
}

.simple-help-field-red .simple-help-field-title {
  color: #da0e00;
}

.simple-help-field-red .coll-opened {
  border-top-color: #da0e00;
}

.simple-help-field-red .coll-closed {
  border-left-color: #da0e00;
}

/* Gray with black Theme */
.simple-help-field-gray {
  border: #ccc solid 1px;
  border-left: #ccc solid 5px;
  padding: 10px;
  background-color: #f5f5f5;
}

.simple-help-field-gray .coll-opened {
  border-top-color: #000;
}

.simple-help-field-gray .coll-closed {
  border-left-color: #000;
}

/* Default Theme */
.simple-help-field {
  border: #ccc solid 1px;
  border-left: #ccc solid 5px;
  padding: 10px;
  background-color: #f5f5f5;
  color: #999;
}

/* Arrows */
.js-simple-help-field-coll {
  width: 0px;
  height: 0px;
  margin-right: 5px;
  border: 4px solid transparent;
  float: left;
}

.coll-opened {
  margin-top: 7px;
  border-top-color: #ccc;
}

.coll-closed {
  margin-top: 5px;
  border-left-color: #ccc;
}

/* Title */
.simple-help-field-title {
  cursor: pointer;
}
